<div id="demo" class="collapse dropdown-content">
<ul class="nav-content">
<li class="nav-menu"><%= link_to "------ Sign in", new_user_session_path %></li>
<li class="nav-menu"><a href="https://minimalistbaker.com/about/">------ Create an account</a></li>
<li class="nav-menu"><a href="https://minimalistbaker.com/about/">------ Offer a meal</a></li>
<li class="nav-menu"><a href="https://minimalistbaker.com/about/">------ Get a meal</a></li>
<li class="nav-menu"><a href="https://minimalistbaker.com/about/">------ View orders</a></li>
<li class="nav-menu"><%= link_to "------ Logout", destroy_user_session_path, data:{turbo_method: :delete} %></li>
</ul></div>
