<h1>Your Orders</h1>

<% @bought_orders.each do |order| %>
  <p><%= order.meal.name %></p>
  <p><%= order.status.capitalize %></p>
<% end %>

<h2>Sold orders</h2>
<% @sold_orders.each do |order| %>
  <p><%= order.meal.name %></p>
  <p><%= order.status.capitalize %></p>
<% end %>
