<div class="main-title">
  <h2 class="text-center">All Meals</h2>
</div>

<%# cards %>
<section class="card-container wrap ">
<% @meals.each do |meal|%>
  <%= link_to meal_path(meal), class: "text-decoration-none" do %>
    <div class="card border-0 ">
      <div class="image">
        <div class="card-category" style="background-image: url('<%= cl_image_path meal.photo.key, height: 400, width: 400, crop: :fill %>')">
        </div>
        <div class="card-img-overlay">
          <h6 class="bottom-right">$<%= sprintf('%.2f', meal.price) %></h6>
        </div>
      </div>

      <div class="card-body">
        <h5 class="card-title">
        <%= meal.name %>
        </h5>
      </div>
    </div>
  <% end %>
<% end %>
</section>
