<h1>Available meals</h1>
<% @meals.each do |meal| %>
  <p><%= link_to meal.name, meal_path(meal) %></p>
  <p><%= meal.price %></p>
  <p><%= meal.description %></p>
  <p><%= meal.seller_id %></p>
<% end %>
