.circle {
  display: inline-block;
  border-radius: 50%;
  width: 30px;
  height: 30px;
}

.GF {
  background-color: #FFDED6;
  color: #2A2B2A;
}

.VG {
  background-color: #F74639;
  color: white;
}

.V {
  background-color: #D56638;
  color: white;
}

.H {
  background-color: #003811;
  color: white;
}

.NS {
  background-color: #2A2B2A;
  color: white
}
